{% extends 'base.html.twig' %}

{% block title %}Lista de Personal{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('personal-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personal-list') }}
{% endblock %}
{% block content %}
    <h2>Lista de Personal</h2>
    <div class="row my-3">
        <div class="offset-8 col-2">
            <a class="btn btn-primary w-100" href="{{ path('personal_lista_excel') }}">Exportar a Excel</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('personal_new') }}">Crear Personal</a>
        </div>
    </div>

    <table class="table table-striped" id="personalDatatable">
        <thead>
            <tr>
                <th></th>
                <th>Nombre(s)</th>
                <th>Apellido(s)</th>
                <th>Identificación</th>
                <th>Lugar expedición</th>
                <th>F ingreso</th>
                <th>Cargo</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
    </table>

{% endblock %}
