{% extends 'base.html.twig' %}

{% block title %}Lista de Personal{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatables') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}
{% endblock %}
{% block content %}
    <h1>Lista de Personal</h1>
    <div class="row my-3">
        <div class="offset-10 col-2">
            <a class="btn btn-primary w-100" href=" {{ path('personal_new') }} ">Crear Personal</a>
        </div>
    </div>

    <table class="table" id="personalDatatable">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Nombre(s)</th>
                <th>Apellido(s)</th>
                <th>Identificación</th>
                <th>Lugar expedición</th>
                <th>F ingreso</th>
                <th>Salario básico</th>
                <th>Bono</th>
                <th>Estado</th>

                {#<th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo electrónico</th>
                <th>Cuenta</th>
                <th>Celular</th>
                <th>F nacimiento</th>
                <th>F examen_ingreso</th>#}
                <th></th>
            </tr>
        </thead>
    </table>

{% endblock %}
