{% extends 'base.html.twig' %}

{% block title %}Editar tipo novedad de nómina{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sweetalert2') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parsley') }}
    {{ encore_entry_script_tags('sweetalert2') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2 class="ps-4">Editar tipo novedad de nómina</h2>
        </div>
    </div>

    {{ include('nomina/_form_tipo_novedad_nomina.html.twig', {'button_label': 'Update'}) }}

    <div class="row my-3">
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('parametros_nomina') }}">Volver a la lista</a>
        </div>
    </div>

{% endblock %}
