{% extends 'base.html.twig' %}

{% block title %}Editar parámetro de nómina{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% block importmap %}{{ importmap(['app', 'parsley', 'sweetalert22' ]) }}{% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2 class="ps-4">Editar parámetro de nómina</h2>
        </div>
    </div>

    {{ include('nomina/_form_parametro_nomina.html.twig', {'button_label': 'Update'}) }}

    <div class="row my-3">
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('parametros_nomina') }}">Volver a la lista</a>
        </div>
    </div>

{% endblock %}
