{% extends 'base.html.twig' %}

{% block title %}Personal Contrato{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('novedades-nomina') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('novedades-nomina') }}
{% endblock %}

{% block content %}
    <h2>Novedades nómina</h2>
    <div class="row my-3">
        <div class="offset-10 col-2">
            <a class="btn btn-primary w-100" href="{{ path('novedad_nomina_new') }}">Agregar Novedad</a>
        </div>
    </div>

    <table class="table table-striped" id="novedadesNominaDatatable" data-url="{{ path('lista_novedades_nomina') }}">
        <thead>
        <tr>
            <th>Nombre(s)</th>
            <th>Apellido(s)</th>
            <th>Cargo</th>
            <th>Salario</th>
            <th>Bono</th>
            <th>Tipo Nómina</th>
            <th>F ingreso</th>
            <th>F retiro</th>
            <th></th>
        </tr>
        </thead>
    </table>


    <div class="row my-3">
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('contrato_index') }}">Volver a la lista</a>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{#{{ path('contrato_edit', {'slug': contrato.slug}) }}#}">Editar contrato</a>
        </div>
    </div>

    <!-- Modal retirar personal -->
    <div class="modal fade" id="personalContratoModal" tabindex="-1" aria-labelledby="titleModalPersonalContrato" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="titleModalPersonalContrato">Retirar personal del contrato</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="retirarPersonalContrato" data-contrato-slug="{#{{ contrato.slug }}#}" method="post">
                            <div class="row mb-3">
                                <div class="col-12 form-group">
                                    <input type="hidden" id="id_personal" name="id_personal">
                                    <input type="hidden" id="id_personal_contrato" name="id_personal_contrato">
                                    <label for="nombre_personal">Nombre del trabajador</label>
                                    <input class="form-control" type="text" id="nombre_personal" name="nombre_personal" readonly>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col-12 form-group">
                                    <label for="fecha_retiro" class="form-label">Fecha de retiro</label>
                                    <input type="date" class="form-control" name="fecha_retiro" id="fecha_retiro" value="" data-parsley-required="true" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anular</button>
                    <button type="submit" form="retirarPersonalContrato" class="btn btn-primary" disabled id="submit_retirar_contrato_personal">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
