{% extends 'base.html.twig' %}

{% block title %}Parámetros Nómina{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatables') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}
{% endblock %}

{% block content %}
    <h2>Tipo novedad Nómina</h2>
    <div class="row my-3">
        <div class="offset-10 col-2">
            <a class="btn btn-primary w-100" href="{{ path('tipo_novedad_nomina_new') }}">Crear parámetro</a>
        </div>
    </div>

    <table class="table table-striped" id="tiposNovedadesNominaDatatable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Descripción</th>
            <th>Modificado por</th>
            <th>Fecha creación</th>
            <th>Fecha actualización</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for tipo_novedad in tipos_novedades %}
            <tr>
                <td>{{ tipo_novedad.id }}</td>
                <td>{{ tipo_novedad.descripcion }}</td>
                <td>{{ tipo_novedad.user.nombre~' '~ tipo_novedad.user.apellido}}</td>
                <td>{{ tipo_novedad.fechaCreacion ? tipo_novedad.fechaCreacion|date('d-m-Y') : '' }}</td>
                <td>{{ tipo_novedad.fechaActualizacion ? tipo_novedad.fechaActualizacion|date('d-m-Y') : '' }}</td>
                <td class="pe-0">
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="{{ path('tipo_novedad_nomina_edit', {'id': tipo_novedad.id}) }}">Editar</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9" class="text-center">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
