<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
       data-bs-toggle="dropdown" aria-expanded="false">
        Acciones
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>
            <a class="dropdown-item" href="{{ path('contrato_personal_edit', {'slugcontrato':  personal_contrato.contrato_slug, 'slugpersonal':  personal_contrato.slug_personal })  }}">Editar personal</a>
        </li>
        <li>
            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#personalContratoModal" id="retirar_personal_contrato" data-id="{{ personal_contrato.id }}" data-nombre-completo="{{ personal_contrato.nombre~' '~personal_contrato.apellido }}"
                    data-fecha-ingreso="{{ personal_contrato.fechaIngreso }}" data-salario="{{ personal_contrato.salario }}" data-bono="{{ personal_contrato.bono }}"
                    data-tipo-nomina-id="{{ personal_contrato.tipo_nomina_id }}">Retirar personal
            </button>
        </li>
    </ul>
</div>