<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-vertical" method="post" data-parsley-validate
                          action="{% if contrato.id is defined %}{{ path('contrato_update', {'id':  contrato.id }) }}{% else %}{{ path('contrato_update', {'id':  0 }) }}{% endif %}"
                    >
                        <input type="hidden" name="action" id="action" value="{{ action }}">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="activo"
                                               value="1" {{ contrato.f_inicio is defined and "now"|date("d/m/Y") >= contrato.f_inicio|date("d/m/Y") ? 'checked disabled' : '' }}
                                               role="switch" id="activo">
                                        <label class="form-check-label" for="activo">Contrato activo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <h4>Información general</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 mb-3">
                                    <div class="form-group">
                                        <label for="contrato_id">No. Contrato</label>
                                        <div class="position-relative has-validation">
                                            <input type="text" class="form-control" id="contrato_id" name="contrato_id" required data-parsley-required="true"
                                                   value="{{ contrato.contrato_id ?? '' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="form-group">
                                        <label for="cliente_id">Cliente</label>
                                        <fieldset class="form-group">
                                            <select class="form-select" id="cliente_id" name="cliente_id" required>
                                                <option value="" disabled {% if action=='insert' %}selected{% endif %}>
                                                    Escoja el cliente
                                                </option>
                                                {% for cliente in clientes %}
                                                    <option value="{{ cliente.id }}" {{ contrato.cliente_id is defined and contrato.cliente_id == cliente.id ? 'selected' : '' }} >{{ cliente.nombre }} </option>
                                                {% endfor %}
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <div class="form-group">
                                        <label for="supervisor_id">Supervisor</label>
                                        <fieldset class="form-group">
                                            <select class="form-select" id="supervisor_id" name="supervisor_id" required>
                                                <option value="" disabled {% if action=='insert' %}selected{% endif %}>
                                                    Escoja el/la supervisor(a)
                                                </option>
                                                {% for supervisor in supervisores %}
                                                    <option value="{{ supervisor.id }}" {{ contrato.supervisor_id is defined and contrato.supervisor_id == supervisor.id ? 'selected' : '' }} >{{ supervisor.nombre ~ ' ' ~ supervisor.apellido }} </option>
                                                {% endfor %}
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-2 mb-3">
                                    <div class="form-group">
                                        <label for="f_inicio">Fecha inicio</label>
                                        <div class="position-relative has-validation">
                                            <input type="date" class="form-control" id="f_inicio" name="f_inicio" required data-parsley-required="true" min="1940-01-01"
                                                   max="3000-12-31"
                                                   value="{{ contrato.f_inicio is defined ? contrato.f_inicio|date("Y-m-d") : '' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 mb-3">
                                    <div class="form-group">
                                        <label for="f_fin">Fecha fin</label>
                                        <div class="position-relative has-validation">
                                            <input type="date" class="form-control" id="f_fin" name="f_fin" required data-parsley-required="true" min="1940-01-01"
                                                   max="3000-12-31"
                                                   value="{{ contrato.f_fin is defined ? contrato.f_fin|date("Y-m-d") : '' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <h4>Información seguros</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="tiene_poliza_salario"
                                               value="1" {{ personal.tiene_poliza_salario is defined and personal.tiene_poliza_salario == true ? 'checked' : '' }} role="switch"
                                               id="tiene_poliza_salario">
                                        <label class="form-check-label" for="tiene_poliza_salario">Póliza salario</label>
                                    </div>
                                </div>
                                <div class="col-3 mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="tiene_poliza_cumplimiento"
                                               value="1" {{ personal.tiene_poliza_cumplimiento is defined and personal.tiene_poliza_cumplimiento == true ? 'checked' : '' }}
                                               role="switch" id="tiene_poliza_cumplimiento">
                                        <label class="form-check-label" for="tiene_poliza_cumplimiento">Póliza cumplimiento</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 mb-3">
                                    <div class="form-group">
                                        <label for="no_poliza">No. Póliza</label>
                                        <div class="position-relative has-validation">
                                            <input type="text" class="form-control" id="no_poliza" name="no_poliza" value="{{ contrato.no_poliza ?? '' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 mb-3">
                                    <div class="form-group">
                                        <label for="aseguradora">Aseguradora</label>
                                        <div class="position-relative has-validation">
                                            <input type="text" class="form-control" id="aseguradora" name="aseguradora" value="{{ contrato.aseguradora ?? '' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 mb-3">
                                    <div class="form-group">
                                        <label for="vencimiento_poliza">Vencimiento póliza</label>
                                        <div class="position-relative has-validation">
                                            <input type="date" class="form-control" id="vencimiento_poliza" name="vencimiento_poliza" min="1940-01-01" max="3000-12-31"
                                                   value="{{ contrato.vencimiento_poliza is defined and contrato.vencimiento_poliza is not null ? contrato.vencimiento_poliza|date("Y-m-d") : '' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <h4>Otros</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="form-group">
                                        <label for="observaciones">Observaciones</label>
                                        <textarea class="form-control" id="observaciones" name="observaciones" rows="3">{{ contrato.observaciones ?? '' }}</textarea>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end mt-3">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Guardar</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reiniciar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

