{% extends 'base.html.twig' %}

{% block title %}Lista de contratos{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatables') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}
{% endblock %}
{% block content %}
    <h2>Lista de contratos</h2>
    <div class="row my-3">
        <div class="offset-10 col-2">
            <a class="btn btn-primary w-100" href="{{ path('contrato_new') }}">Crear Contrato</a>
        </div>
    </div>
    <table class="table" id="contratosDatatable">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Número de contrato</th>
                <th>Cliente</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
{#                <th>Poliza salario</th>#}
{#                <th>Poliza cumplimiento</th>#}
{#                <th>N_poliza</th>#}
{#                <th>Aseguradora</th>#}
{#                <th>Vencimiento_poliza</th>#}
                <th>Supervisor</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th></th>
            </tr>
        </thead>
    </table>

{% endblock %}
