{% extends 'base.html.twig' %}

{% block title %}New Contrato{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% block importmap %}{{ importmap(['app', 'parsley', 'contrato', 'sweetalert22' ]) }}{% endblock %}
{% endblock %}

{% block content %}
    <h1>Crear nuevo Contrato</h1>

    {{ include('contrato/_form.html.twig') }}

    <a href="{{ path('contrato_index') }}">back to list</a>
{% endblock %}
