{% extends 'base.html.twig' %}

{% block title %}New Contrato{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contrato') }}
    {{ encore_entry_link_tags('sweetalert2') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parsley') }}
    {{ encore_entry_script_tags('contrato') }}
    {{ encore_entry_script_tags('sweetalert2') }}
{% endblock %}

{% block content %}
    <h1>Crear nuevo Contrato</h1>

    {{ include('contrato/_form.html.twig') }}

    <a href="{{ path('contrato_index') }}">back to list</a>
{% endblock %}
