{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('clientes-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('clientes-list') }}
{% endblock %}

{% block content %}
    <h2>Lista de clientes</h2>
    <div class="row my-3">
        <div class="offset-8 col-2">
            <a class="btn btn-primary w-100" target="_blank" href="{{ path('cliente_lista_excel') }}">Exportar a Excel</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('cliente_new') }}">Crear cliente</a>
        </div>
    </div>

    <table class="table w-100 table-striped" id="clientesDatatable">
        <thead>
            <tr>
                <th style="width: 3%"></th>
                <th style="width: 10%">Nit</th>
                <th style="width: 40%">Nombre</th>
                <th style="width: 24%">Dirección</th>
                <th style="width: 10%">Observaciones</th>
                <th style="width: 3%">Estado</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
    </table>
{% endblock %}
