{% extends 'base.html.twig' %}

{% block title %}Crear Cliente{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% block importmap %}{{ importmap(['app', 'parsley', 'cliente', 'sweetalert22' ]) }}{% endblock %}
{% endblock %}

{% block content %}
    <h2 class="ps-3">Crear Cliente</h2>
    {{ include('cliente/_form.html.twig') }}

    <div class="row my-3">
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('cliente_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
