{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block content %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nit</th>
                <td>{{ cliente.nit }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <th>Administrador</th>
                <td>{{ cliente.contacto }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ cliente.celular }}</td>
            </tr>
            <tr>
                <th>Correo_electronico</th>
                <td>{{ cliente.correoElectronico }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ cliente.observaciones }}</td>
            </tr>
            <tr>
                <th>F_creacion</th>
                <td>{{ cliente.fCreacion ? cliente.fCreacion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>F_actualizacion</th>
                <td>{{ cliente.fActualizacion ? cliente.fActualizacion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row my-3">
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('cliente_index') }}">Volver a la lista</a>
        </div>
    </div>

    <a href="{{ path('cliente_edit', {'slug': cliente.slug}) }}">edit</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
