{% extends 'base.html.twig' %}

{% block title %}Eps{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sweetalert2') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sweetalert2') }}
{% endblock %}

{% block content %}
    <h1>Eps</h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ eps.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ eps.nombre }}</td>
        </tr>
        <tr>
            <th>Contacto</th>
            <td>{{ eps.contacto }}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>{{ eps.telefono }}</td>
        </tr>
        <tr>
            <th>Extensión</th>
            <td>{{ eps.extension }}</td>
        </tr>
        <tr>
            <th>Celular</th>
            <td>{{ eps.celular }}</td>
        </tr>
        <tr>
            <th>Responsable</th>
            <td>{{ eps.user.nombre ~' '~ eps.user.apellido }}</td>
        </tr>
        <tr>
            <th>Fecha creación</th>
            <td>{{ eps.fechaCreacion ? eps.fechaCreacion|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Fecha actualización</th>
            <td>{{ eps.fechaActualizacion ? eps.fechaActualizacion|date('d-m-Y') : '' }}</td>
        </tr>
        </tbody>
    </table>
    <div class="row my-3">
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('eps_index') }}">Volver a la lista</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary w-100" href="{{ path('eps_edit', {'id': eps.id}) }}">Editar</a>
        </div>
    </div>

    {% if is_granted('ROLE_ADMINISTRADOR') %}
        {{ include('eps/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
