{% extends 'base.html.twig' %}

{% block title %}Nueva AFC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% block importmap %}{{ importmap(['app', 'parsley' ]) }}{% endblock %}

{% endblock %}
{% block content %}
    <h2 class="ps-3">Crear AFC</h2>

    {{ include('afc/_form.html.twig') }}

    <div class="row my-3">
        <div class="offset-4 col-2">
            <a class="btn btn-primary w-100" href="{{ path('afc_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
